<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="trochimiuk.kaniewski.czaplicka.kwod.pl.healthcareapp">

    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Medicine.MedicineActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Measure.MeasureActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Appointment.AppointmentActivity"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Appointment.NewAppointmentActivity"
            android:parentActivityName=".Appointment.AppointmentActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Appointment.AppointmentActivity" />
        </activity>
        <activity android:name=".Appointment.AppointmentListActivity"
            android:parentActivityName=".Appointment.AppointmentActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Appointment.AppointmentActivity" />
        </activity>
        <activity android:name=".Medicine.NewMedicineActivity"
            android:parentActivityName=".Medicine.MedicineActivity">
        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Medicine.MedicineActivity" />
        </activity>
        <activity android:name=".Medicine.NewMedicineInDBActivity"
            android:parentActivityName=".Medicine.NewMedicineActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Medicine.NewMedicineActivity" />
        </activity>
        <activity android:name=".Measure.DoMeasureActivity" />
        <activity android:name=".Appointment.AppointmentNotify" />
        <activity android:name=".Medicine.CustomMedicineDetailsActivity"
            android:parentActivityName=".Medicine.MedicineActivity">
        <!-- The meta-data tag is required if you support API level 15 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Medicine.NewMedicineActivity" />
        </activity>
        <activity android:name=".Medicine.MedicineNotifyActivity" />
        <activity android:name=".Medicine.EditCustomMedicineActivity"
            android:parentActivityName=".Medicine.MedicineActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Medicine.MedicineActivity" />
        </activity>
    </application>

</manifest>